In [1]:
import pandas as pd
import anndata as ad
from scipy.io import mmread

In [58]:
df = pd.read_csv("./all_tissue_droplet.csv")
df.head()

/tmp/ipykernel_1209854/1634770323.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./all_tissue_droplet.csv")

,Unnamed: 0,orig.ident,nCount_RNA,nFeature_RNA,channel,mouse.id,tissue,subtissue,mouse.sex,percent.ercc,percent.ribo,percent.Rn45s
0,10X_P4_0_AAACCTGAGATTACCC-1,10X,9848,2857,10X_P4_0,3-M-8,Tongue,NaN,M,0.0,0.248071,0.000711
1,10X_P4_0_AAACCTGAGTGCCAGA-1,10X,17175,2933,10X_P4_0,3-M-8,Tongue,NaN,M,0.0,0.395691,0.000524
2,10X_P4_0_AAACCTGCAAATCCGT-1,10X,22182,3217,10X_P4_0,3-M-8,Tongue,NaN,M,0.0,0.195834,0.000451
3,10X_P4_0_AAACCTGGTAATCGTC-1,10X,16840,3108,10X_P4_0,3-M-8,Tongue,NaN,M,0.0,0.403563,0.000178
4,10X_P4_0_AAACCTGGTCCAACTA-1,10X,19531,3713,10X_P4_0,3-M-8,Tongue,NaN,M,0.0,0.321899,0.000410

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2990808 entries, 0 to 2990807
Data columns (total 12 columns):
 #   Column         Dtype
---  ------         -----
 0   Unnamed: 0     object
 1   orig.ident     object
 2   nCount_RNA     int64
 3   nFeature_RNA   int64
 4   channel        object
 5   mouse.id       object
 6   tissue         object
 7   subtissue      object
 8   mouse.sex      object
 9   percent.ercc   float64
 10  percent.ribo   float64
 11  percent.Rn45s  float64
dtypes: float64(3), int64(2), object(7)
memory usage: 273.8+ MB

All tissues present in  data

In [9]:
df['tissue'].unique()

array(['Tongue', 'Liver', 'Bladder', 'Kidney', 'Spleen', 'Thymus',
       'Mammary', 'Muscle', 'Marrow', 'Heart', 'Lung', 'Trachea'],
      dtype=object)

In [61]:
'''
Filter cells, keep only ones with number of genes per cell greater than 500
and number of UMIs per cell greather than 1000
'''
df_filter = df[(df['nFeature_RNA'] > 500) & (df['nCount_RNA'] > 1000)]

In [62]:
df_filter.info()

<class 'pandas.core.frame.DataFrame'>
Index: 55656 entries, 0 to 2990802
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     55656 non-null  object
 1   orig.ident     55656 non-null  object
 2   nCount_RNA     55656 non-null  int64
 3   nFeature_RNA   55656 non-null  int64
 4   channel        55656 non-null  object
 5   mouse.id       55656 non-null  object
 6   tissue         55656 non-null  object
 7   subtissue      4283 non-null   object
 8   mouse.sex      55656 non-null  object
 9   percent.ercc   55656 non-null  float64
 10  percent.ribo   55656 non-null  float64
 11  percent.Rn45s  55656 non-null  float64
dtypes: float64(3), int64(2), object(7)
memory usage: 5.5+ MB

## Dataset analysis

All experiments

In [12]:
df_filter['channel'].unique()

array(['10X_P4_0', '10X_P4_1', '10X_P4_2', '10X_P4_3', '10X_P4_4',
       '10X_P4_5', '10X_P4_6', '10X_P4_7', '10X_P7_0', '10X_P7_1',
       '10X_P7_10', '10X_P7_11', '10X_P7_12', '10X_P7_13', '10X_P7_14',
       '10X_P7_15', '10X_P7_2', '10X_P7_3', '10X_P7_4', '10X_P7_5',
       '10X_P7_6', '10X_P7_7', '10X_P7_8', '10X_P7_9', '10X_P8_12',
       '10X_P8_13', '10X_P8_14', '10X_P8_15'], dtype=object)

All tissues

In [13]:
df_filter['tissue'].unique()

array(['Tongue', 'Liver', 'Bladder', 'Kidney', 'Spleen', 'Thymus',
       'Mammary', 'Muscle', 'Marrow', 'Heart', 'Lung', 'Trachea'],
      dtype=object)

In [14]:
grpby = df_filter.groupby(by = "tissue")

In [15]:
grpby = pd.DataFrame({'nSamples' : df_filter.groupby(['tissue'] ).size()}).reset_index()

Number of examples for tissue

In [16]:
grpby

     tissue  nSamples
0   Bladder      2500
1     Heart       624
2    Kidney      2781
3     Liver      1845
4      Lung      5449
5   Mammary      4481
6    Marrow      3652
7    Muscle      4536
8    Spleen      9552
9    Thymus      1429
10   Tongue      7538
11  Trachea     11269

Numer of examples for experiments

In [17]:
grpby2 = pd.DataFrame({'nSamples' : df_filter.groupby(['channel'] ).size()}).reset_index()
grpby2

      channel  nSamples
0    10X_P4_0      3101
1    10X_P4_1      2488
2    10X_P4_2       975
3    10X_P4_3       149
4    10X_P4_4      1783
5    10X_P4_5       610
6    10X_P4_6       907
7    10X_P4_7      3439
8    10X_P7_0       593
9    10X_P7_1       277
10  10X_P7_10      1949
11  10X_P7_11      1429
12  10X_P7_12      1938
13  10X_P7_13      2543
14  10X_P7_14      2239
15  10X_P7_15      2297
16   10X_P7_2      1732
17   10X_P7_3      1920
18   10X_P7_4       624
19   10X_P7_5      1264
20   10X_P7_6      6113
21   10X_P7_7       568
22   10X_P7_8       621
23   10X_P7_9      1520
24  10X_P8_12       784
25  10X_P8_13      2524
26  10X_P8_14      6626
27  10X_P8_15      4643

Experiment IDs for each tissue

In [88]:
grouped = df_filter.groupby('tissue')['channel']
for tissue, experiment in grouped:
    print(f'Tissue: {tissue}')
    print(f'Experiments: {experiment.unique().tolist()}')

Tissue: Bladder
Experiments: ['10X_P4_3', '10X_P4_4', '10X_P7_7']
Tissue: Heart
Experiments: ['10X_P7_4']
Tissue: Kidney
Experiments: ['10X_P4_5', '10X_P4_6', '10X_P7_5']
Tissue: Liver
Experiments: ['10X_P4_2', '10X_P7_0', '10X_P7_1']
Tissue: Lung
Experiments: ['10X_P7_8', '10X_P7_9', '10X_P8_12', '10X_P8_13']
Tissue: Mammary
Experiments: ['10X_P7_12', '10X_P7_13']
Tissue: Marrow
Experiments: ['10X_P7_2', '10X_P7_3']
Tissue: Muscle
Experiments: ['10X_P7_14', '10X_P7_15']
Tissue: Spleen
Experiments: ['10X_P4_7', '10X_P7_6']
Tissue: Thymus
Experiments: ['10X_P7_11']
Tissue: Tongue
Experiments: ['10X_P4_0', '10X_P4_1', '10X_P7_10']
Tissue: Trachea
Experiments: ['10X_P8_14', '10X_P8_15']

## Add annotation data to metadata

In [18]:
# Load annotations
ann = pd.read_csv("./annotations_droplets.csv")

In [19]:
ann

,cell,tissue,cell_ontology_class,cell_ontology_term_iri,cell_ontology_id
0,10X_P4_3_AAAGTAGAGATGCCAG,Bladder,mesenchymal cell,http://purl.obolibrary.org/obo/CL_0008019,CL:0008019
1,10X_P4_3_AACCGCGTCCAACCAA,Bladder,mesenchymal cell,http://purl.obolibrary.org/obo/CL_0008019,CL:0008019
2,10X_P4_3_AACTCCCGTCGGGTCT,Bladder,mesenchymal cell,http://purl.obolibrary.org/obo/CL_0008019,CL:0008019
3,10X_P4_3_AACTCTTAGTTGCAGG,Bladder,bladder cell,http://purl.obolibrary.org/obo/CL_1001319,CL:1001319
4,10X_P4_3_AACTCTTTCATAACCG,Bladder,mesenchymal cell,http://purl.obolibrary.org/obo/CL_0008019,CL:0008019
...,...,...,...,...,...
54832,10X_P8_15_TTTGTCAGTTGTCGCG,Trachea,endothelial cell,http://purl.obolibrary.org/obo/CL_0000115,CL:0000115
54833,10X_P8_15_TTTGTCATCACGATGT,Trachea,leukocyte,http://purl.obolibrary.org/obo/CL_0000738,CL:0000738
54834,10X_P8_15_TTTGTCATCGGCTTGG,Trachea,endothelial cell,http://purl.obolibrary.org/obo/CL_0000115,CL:0000115
54835,10X_P8_15_TTTGTCATCTTACCGC,Trachea,stromal cell,http://purl.obolibrary.org/obo/CL_0000499,CL:0000499
54836,10X_P8_15_TTTGTCATCTTGTTTG,Trachea,stromal cell,http://purl.obolibrary.org/obo/CL_0000499,CL:0000499

In [20]:
# Extract cell name
df_filter['cell'] = df_filter['Unnamed: 0'].apply(lambda x: x.replace("-1", ""))

/tmp/ipykernel_134142/3399121649.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filter['cell'] = df_filter['Unnamed: 0'].apply(lambda x: x.replace("-1", ""))

In [21]:
df_filter

,Unnamed: 0,orig.ident,nCount_RNA,nFeature_RNA,channel,mouse.id,tissue,subtissue,mouse.sex,percent.ercc,percent.ribo,percent.Rn45s,cell
0,10X_P4_0_AAACCTGAGATTACCC-1,10X,9848,2857,10X_P4_0,3-M-8,Tongue,NaN,M,0.0,0.248071,0.000711,10X_P4_0_AAACCTGAGATTACCC
1,10X_P4_0_AAACCTGAGTGCCAGA-1,10X,17175,2933,10X_P4_0,3-M-8,Tongue,NaN,M,0.0,0.395691,0.000524,10X_P4_0_AAACCTGAGTGCCAGA
2,10X_P4_0_AAACCTGCAAATCCGT-1,10X,22182,3217,10X_P4_0,3-M-8,Tongue,NaN,M,0.0,0.195834,0.000451,10X_P4_0_AAACCTGCAAATCCGT
3,10X_P4_0_AAACCTGGTAATCGTC-1,10X,16840,3108,10X_P4_0,3-M-8,Tongue,NaN,M,0.0,0.403563,0.000178,10X_P4_0_AAACCTGGTAATCGTC
4,10X_P4_0_AAACCTGGTCCAACTA-1,10X,19531,3713,10X_P4_0,3-M-8,Tongue,NaN,M,0.0,0.321899,0.000410,10X_P4_0_AAACCTGGTCCAACTA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2990405,10X_P8_15_TTTGTCAGTTGTCGCG-1,10X,6507,2256,10X_P8_15,3-M-7/8,Trachea,NaN,M,0.0,0.254495,0.001229,10X_P8_15_TTTGTCAGTTGTCGCG
2990469,10X_P8_15_TTTGTCATCACGATGT-1,10X,1672,772,10X_P8_15,3-M-7/8,Trachea,NaN,M,0.0,0.279306,0.000000,10X_P8_15_TTTGTCATCACGATGT
2990675,10X_P8_15_TTTGTCATCGGCTTGG-1,10X,2589,1302,10X_P8_15,3-M-7/8,Trachea,NaN,M,0.0,0.211278,0.001159,10X_P8_15_TTTGTCATCGGCTTGG
2990781,10X_P8_15_TTTGTCATCTTACCGC-1,10X,2373,973,10X_P8_15,3-M-7/8,Trachea,NaN,M,0.0,0.222925,0.000843,10X_P8_15_TTTGTCATCTTACCGC
2990802,10X_P8_15_TTTGTCATCTTGTTTG-1,10X,5903,1800,10X_P8_15,3-M-7/8,Trachea,NaN,M,0.0,0.154159,0.000508,10X_P8_15_TTTGTCATCTTGTTTG

In [22]:
# Merge metadata with annotation data
merg = df_filter.merge(ann, left_on='cell', right_on='cell', how='left')

In [23]:
merg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55656 entries, 0 to 55655
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              55656 non-null  object
 1   orig.ident              55656 non-null  object
 2   nCount_RNA              55656 non-null  int64
 3   nFeature_RNA            55656 non-null  int64
 4   channel                 55656 non-null  object
 5   mouse.id                55656 non-null  object
 6   tissue_x                55656 non-null  object
 7   subtissue               4283 non-null   object
 8   mouse.sex               55656 non-null  object
 9   percent.ercc            55656 non-null  float64
 10  percent.ribo            55656 non-null  float64
 11  percent.Rn45s           55656 non-null  float64
 12  cell                    55656 non-null  object
 13  tissue_y                54837 non-null  object
 14  cell_ontology_class     54837 non-null  object
 15  cell_ontology_term_iri  54439 non-null  object
 16  cell_ontology_id        54837 non-null  object
dtypes: float64(3), int64(2), object(12)
memory usage: 7.2+ MB

In [24]:
# Check if tissues don't match, but this only happens with NaN values
merg[merg['tissue_x'] != merg['tissue_y']]

,Unnamed: 0,orig.ident,nCount_RNA,nFeature_RNA,channel,mouse.id,tissue_x,subtissue,mouse.sex,percent.ercc,percent.ribo,percent.Rn45s,cell,tissue_y,cell_ontology_class,cell_ontology_term_iri,cell_ontology_id
5590,10X_P4_2_AAACCTGCAAGACACG-1,10X,1748,913,10X_P4_2,3-M-8/9,Liver,hepatocytes,M,0.0,0.045767,0.000572,10X_P4_2_AAACCTGCAAGACACG,NaN,NaN,NaN,NaN
5592,10X_P4_2_AAACCTGGTATCTGCA-1,10X,1648,690,10X_P4_2,3-M-8/9,Liver,hepatocytes,M,0.0,0.062500,0.005461,10X_P4_2_AAACCTGGTATCTGCA,NaN,NaN,NaN,NaN
5593,10X_P4_2_AAACGGGTCCGCATAA-1,10X,1492,705,10X_P4_2,3-M-8/9,Liver,hepatocytes,M,0.0,0.055630,0.002011,10X_P4_2_AAACGGGTCCGCATAA,NaN,NaN,NaN,NaN
5594,10X_P4_2_AAACGGGTCCTGTAGA-1,10X,1761,900,10X_P4_2,3-M-8/9,Liver,hepatocytes,M,0.0,0.042022,0.002271,10X_P4_2_AAACGGGTCCTGTAGA,NaN,NaN,NaN,NaN
5595,10X_P4_2_AAAGATGCAAGCGTAG-1,10X,2093,1050,10X_P4_2,3-M-8/9,Liver,hepatocytes,M,0.0,0.027234,0.015767,10X_P4_2_AAAGATGCAAGCGTAG,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14312,10X_P7_1_TTGACTTTCCGAACGC-1,10X,1806,678,10X_P7_1,3-F-57,Liver,NaN,F,0.0,0.042082,0.100775,10X_P7_1_TTGACTTTCCGAACGC,NaN,NaN,NaN,NaN
14315,10X_P7_1_TTGCCGTTCACGCATA-1,10X,1857,941,10X_P7_1,3-F-57,Liver,NaN,F,0.0,0.041465,0.010232,10X_P7_1_TTGCCGTTCACGCATA,NaN,NaN,NaN,NaN
14317,10X_P7_1_TTGGCAATCTTCATGT-1,10X,1979,895,10X_P7_1,3-F-57,Liver,NaN,F,0.0,0.103588,0.003032,10X_P7_1_TTGGCAATCTTCATGT,NaN,NaN,NaN,NaN
14318,10X_P7_1_TTGTAGGCAGGAATGC-1,10X,1880,990,10X_P7_1,3-F-57,Liver,NaN,F,0.0,0.038298,0.000000,10X_P7_1_TTGTAGGCAGGAATGC,NaN,NaN,NaN,NaN
14320,10X_P7_1_TTTACTGGTACACCGC-1,10X,1255,529,10X_P7_1,3-F-57,Liver,NaN,F,0.0,0.064542,0.011952,10X_P7_1_TTTACTGGTACACCGC,NaN,NaN,NaN,NaN

In [25]:
# Remove useless column
merg.drop('tissue_y', axis=1, inplace=True)
merg.rename(columns={'tissue_x': 'tissue'}, inplace=True)

In [26]:
merg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55656 entries, 0 to 55655
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              55656 non-null  object
 1   orig.ident              55656 non-null  object
 2   nCount_RNA              55656 non-null  int64
 3   nFeature_RNA            55656 non-null  int64
 4   channel                 55656 non-null  object
 5   mouse.id                55656 non-null  object
 6   tissue                  55656 non-null  object
 7   subtissue               4283 non-null   object
 8   mouse.sex               55656 non-null  object
 9   percent.ercc            55656 non-null  float64
 10  percent.ribo            55656 non-null  float64
 11  percent.Rn45s           55656 non-null  float64
 12  cell                    55656 non-null  object
 13  cell_ontology_class     54837 non-null  object
 14  cell_ontology_term_iri  54439 non-null  object
 15  cell_ontology_id        54837 non-null  object
dtypes: float64(3), int64(2), object(11)
memory usage: 6.8+ MB

In [31]:
merg.to_csv("droplet_filter_annotated.csv", index=False)

## Create anndata (Single tissue - Spleen)

In [3]:
spleen_df = pd.read_csv("./Spleen-10X_P7_610X_P7_6_dataset_clean.csv")

In [4]:
spleen_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6113 entries, 0 to 6112
Columns: 23439 entries, cell_id to zsGreen_transgene
dtypes: float64(23435), int64(2), object(2)
memory usage: 1.1+ GB

In [5]:
spleen_df

,cell_id,nCount_RNA,nFeature_RNA,percent.ribo,percent.Rn45s,cell_ontology_class,Xkr4,Rp1,Sox17,Mrpl15,...,ERCC-00163,ERCC-00164,ERCC-00165,ERCC-00168,ERCC-00170,ERCC-00171,Gfp_transgene,Cre_transgene,Tdtom_transgene,zsGreen_transgene
0,AAACCTGAGGCACATG-1,5137,1392,0.438972,0.000389,B cell,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AAACCTGAGGCATTGG-1,2103,838,0.377556,0.000000,B cell,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AAACCTGAGGTGCAAC-1,5557,1447,0.486054,0.000720,B cell,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AAACCTGAGTACGATA-1,4933,1732,0.296371,0.001014,B cell,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,AAACCTGCACTTACGA-1,3589,1229,0.424909,0.000557,T cell,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6108,TTTGTCAGTTTGCATG-1,3846,1388,0.340094,0.000260,B cell,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6109,TTTGTCATCAAACCAC-1,2740,1115,0.276277,0.001095,B cell,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6110,TTTGTCATCGTGACAT-1,2267,1127,0.224085,0.001323,B cell,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6111,TTTGTCATCTCAACTT-1,3543,1009,0.495625,0.001693,T cell,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6112,TTTGTCATCTTAGAGC-1,6256,2011,0.236093,0.000639,macrophage,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
metadata_cols = ['cell_id', 'nCount_RNA', 'nFeature_RNA', 'percent.ribo', 'percent.Rn45s', 'cell_ontology_class']

In [7]:
gene_cols = [g for g in spleen_df.columns if g not in metadata_cols]

In [8]:
# Create anndata for spleen
spleen_ann = ad.AnnData(X = spleen_df[gene_cols], obs = spleen_df[metadata_cols])

/storagenfs/m.melerocavallo/CHL/venvchl/lib/python3.8/site-packages/anndata/_core/anndata.py:117: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

In [9]:
spleen_ann.obs

,cell_id,nCount_RNA,nFeature_RNA,percent.ribo,percent.Rn45s,cell_ontology_class
0,AAACCTGAGGCACATG-1,5137,1392,0.438972,0.000389,B cell
1,AAACCTGAGGCATTGG-1,2103,838,0.377556,0.000000,B cell
2,AAACCTGAGGTGCAAC-1,5557,1447,0.486054,0.000720,B cell
3,AAACCTGAGTACGATA-1,4933,1732,0.296371,0.001014,B cell
4,AAACCTGCACTTACGA-1,3589,1229,0.424909,0.000557,T cell
...,...,...,...,...,...,...
6108,TTTGTCAGTTTGCATG-1,3846,1388,0.340094,0.000260,B cell
6109,TTTGTCATCAAACCAC-1,2740,1115,0.276277,0.001095,B cell
6110,TTTGTCATCGTGACAT-1,2267,1127,0.224085,0.001323,B cell
6111,TTTGTCATCTCAACTT-1,3543,1009,0.495625,0.001693,T cell
6112,TTTGTCATCTTAGAGC-1,6256,2011,0.236093,0.000639,macrophage

In [57]:
spleen_ann.write('./spleen.h5ad')

## Create anndata (All tissues)

In [2]:
df_filter_ann = pd.read_csv("./droplet_filter_annotated.csv")

In [3]:
all_df = pd.read_csv("./all_tissue_droplet.csv")

/tmp/ipykernel_1209854/852184338.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  all_df = pd.read_csv("./all_tissue_droplet.csv")

In [4]:
df_filter_ann.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55656 entries, 0 to 55655
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              55656 non-null  object
 1   orig.ident              55656 non-null  object
 2   nCount_RNA              55656 non-null  int64
 3   nFeature_RNA            55656 non-null  int64
 4   channel                 55656 non-null  object
 5   mouse.id                55656 non-null  object
 6   tissue                  55656 non-null  object
 7   subtissue               4283 non-null   object
 8   mouse.sex               55656 non-null  object
 9   percent.ercc            55656 non-null  float64
 10  percent.ribo            55656 non-null  float64
 11  percent.Rn45s           55656 non-null  float64
 12  cell                    55656 non-null  object
 13  cell_ontology_class     54837 non-null  object
 14  cell_ontology_term_iri  54439 non-null  object
 15  cell_ontology_id        54837 non-null  object
dtypes: float64(3), int64(2), object(11)
memory usage: 6.8+ MB

In [5]:
df_filter_ann.head()

,Unnamed: 0,orig.ident,nCount_RNA,nFeature_RNA,channel,mouse.id,tissue,subtissue,mouse.sex,percent.ercc,percent.ribo,percent.Rn45s,cell,cell_ontology_class,cell_ontology_term_iri,cell_ontology_id
0,10X_P4_0_AAACCTGAGATTACCC-1,10X,9848,2857,10X_P4_0,3-M-8,Tongue,NaN,M,0.0,0.248071,0.000711,10X_P4_0_AAACCTGAGATTACCC,basal cell of epidermis,http://purl.obolibrary.org/obo/CL_0002187,CL:0002187
1,10X_P4_0_AAACCTGAGTGCCAGA-1,10X,17175,2933,10X_P4_0,3-M-8,Tongue,NaN,M,0.0,0.395691,0.000524,10X_P4_0_AAACCTGAGTGCCAGA,keratinocyte,http://purl.obolibrary.org/obo/CL_0000312,CL:0000312
2,10X_P4_0_AAACCTGCAAATCCGT-1,10X,22182,3217,10X_P4_0,3-M-8,Tongue,NaN,M,0.0,0.195834,0.000451,10X_P4_0_AAACCTGCAAATCCGT,keratinocyte,http://purl.obolibrary.org/obo/CL_0000312,CL:0000312
3,10X_P4_0_AAACCTGGTAATCGTC-1,10X,16840,3108,10X_P4_0,3-M-8,Tongue,NaN,M,0.0,0.403563,0.000178,10X_P4_0_AAACCTGGTAATCGTC,basal cell of epidermis,http://purl.obolibrary.org/obo/CL_0002187,CL:0002187
4,10X_P4_0_AAACCTGGTCCAACTA-1,10X,19531,3713,10X_P4_0,3-M-8,Tongue,NaN,M,0.0,0.321899,0.000410,10X_P4_0_AAACCTGGTCCAACTA,basal cell of epidermis,http://purl.obolibrary.org/obo/CL_0002187,CL:0002187

In [6]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2990808 entries, 0 to 2990807
Data columns (total 12 columns):
 #   Column         Dtype
---  ------         -----
 0   Unnamed: 0     object
 1   orig.ident     object
 2   nCount_RNA     int64
 3   nFeature_RNA   int64
 4   channel        object
 5   mouse.id       object
 6   tissue         object
 7   subtissue      object
 8   mouse.sex      object
 9   percent.ercc   float64
 10  percent.ribo   float64
 11  percent.Rn45s  float64
dtypes: float64(3), int64(2), object(7)
memory usage: 273.8+ MB

In [7]:
all_df.head()

,Unnamed: 0,orig.ident,nCount_RNA,nFeature_RNA,channel,mouse.id,tissue,subtissue,mouse.sex,percent.ercc,percent.ribo,percent.Rn45s
0,10X_P4_0_AAACCTGAGATTACCC-1,10X,9848,2857,10X_P4_0,3-M-8,Tongue,NaN,M,0.0,0.248071,0.000711
1,10X_P4_0_AAACCTGAGTGCCAGA-1,10X,17175,2933,10X_P4_0,3-M-8,Tongue,NaN,M,0.0,0.395691,0.000524
2,10X_P4_0_AAACCTGCAAATCCGT-1,10X,22182,3217,10X_P4_0,3-M-8,Tongue,NaN,M,0.0,0.195834,0.000451
3,10X_P4_0_AAACCTGGTAATCGTC-1,10X,16840,3108,10X_P4_0,3-M-8,Tongue,NaN,M,0.0,0.403563,0.000178
4,10X_P4_0_AAACCTGGTCCAACTA-1,10X,19531,3713,10X_P4_0,3-M-8,Tongue,NaN,M,0.0,0.321899,0.000410

In [8]:
# Drop redundant columns (same value for all rows) and rename initial column
df_filter_ann.drop(columns=['orig.ident', 'percent.ercc'], inplace=True)
df_filter_ann.rename(columns={'Unnamed: 0': 'cell_id'}, inplace=True)

all_df.drop(columns=['orig.ident', 'percent.ercc'], inplace=True)
all_df.rename(columns={'Unnamed: 0': 'cell_id'}, inplace=True)

In [9]:
df_filter_ann.head()

,cell_id,nCount_RNA,nFeature_RNA,channel,mouse.id,tissue,subtissue,mouse.sex,percent.ribo,percent.Rn45s,cell,cell_ontology_class,cell_ontology_term_iri,cell_ontology_id
0,10X_P4_0_AAACCTGAGATTACCC-1,9848,2857,10X_P4_0,3-M-8,Tongue,NaN,M,0.248071,0.000711,10X_P4_0_AAACCTGAGATTACCC,basal cell of epidermis,http://purl.obolibrary.org/obo/CL_0002187,CL:0002187
1,10X_P4_0_AAACCTGAGTGCCAGA-1,17175,2933,10X_P4_0,3-M-8,Tongue,NaN,M,0.395691,0.000524,10X_P4_0_AAACCTGAGTGCCAGA,keratinocyte,http://purl.obolibrary.org/obo/CL_0000312,CL:0000312
2,10X_P4_0_AAACCTGCAAATCCGT-1,22182,3217,10X_P4_0,3-M-8,Tongue,NaN,M,0.195834,0.000451,10X_P4_0_AAACCTGCAAATCCGT,keratinocyte,http://purl.obolibrary.org/obo/CL_0000312,CL:0000312
3,10X_P4_0_AAACCTGGTAATCGTC-1,16840,3108,10X_P4_0,3-M-8,Tongue,NaN,M,0.403563,0.000178,10X_P4_0_AAACCTGGTAATCGTC,basal cell of epidermis,http://purl.obolibrary.org/obo/CL_0002187,CL:0002187
4,10X_P4_0_AAACCTGGTCCAACTA-1,19531,3713,10X_P4_0,3-M-8,Tongue,NaN,M,0.321899,0.000410,10X_P4_0_AAACCTGGTCCAACTA,basal cell of epidermis,http://purl.obolibrary.org/obo/CL_0002187,CL:0002187

In [11]:
all_df.head()

,cell_id,nCount_RNA,nFeature_RNA,channel,mouse.id,tissue,subtissue,mouse.sex,percent.ribo,percent.Rn45s
0,10X_P4_0_AAACCTGAGATTACCC-1,9848,2857,10X_P4_0,3-M-8,Tongue,NaN,M,0.248071,0.000711
1,10X_P4_0_AAACCTGAGTGCCAGA-1,17175,2933,10X_P4_0,3-M-8,Tongue,NaN,M,0.395691,0.000524
2,10X_P4_0_AAACCTGCAAATCCGT-1,22182,3217,10X_P4_0,3-M-8,Tongue,NaN,M,0.195834,0.000451
3,10X_P4_0_AAACCTGGTAATCGTC-1,16840,3108,10X_P4_0,3-M-8,Tongue,NaN,M,0.403563,0.000178
4,10X_P4_0_AAACCTGGTCCAACTA-1,19531,3713,10X_P4_0,3-M-8,Tongue,NaN,M,0.321899,0.000410

In [11]:
metadata_cols = all_df.columns
metadata_cols

Index(['cell_id', 'nCount_RNA', 'nFeature_RNA', 'channel', 'mouse.id',
       'tissue', 'subtissue', 'mouse.sex', 'percent.ribo', 'percent.Rn45s'],
      dtype='object')

In [12]:
# Read gene counts
raw = mmread("raw_data_all_tissue_droplet.txt")

In [13]:
df_raw = pd.DataFrame.sparse.from_spmatrix(raw.T)

In [14]:
df_raw

,0,1,2,3,4,5,6,7,8,9,...,23423,23424,23425,23426,23427,23428,23429,23430,23431,23432
0,0,0,0,2,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,2,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,2,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2990803,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2990804,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2990805,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2990806,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2990807,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
# Merge cell metadata with gene conts
merge_df = all_df.join(df_raw)

In [16]:
merge_df.head()

,cell_id,nCount_RNA,nFeature_RNA,channel,mouse.id,tissue,subtissue,mouse.sex,percent.ribo,percent.Rn45s,...,23423,23424,23425,23426,23427,23428,23429,23430,23431,23432
0,10X_P4_0_AAACCTGAGATTACCC-1,9848,2857,10X_P4_0,3-M-8,Tongue,NaN,M,0.248071,0.000711,...,0,0,0,0,0,0,0,0,0,0
1,10X_P4_0_AAACCTGAGTGCCAGA-1,17175,2933,10X_P4_0,3-M-8,Tongue,NaN,M,0.395691,0.000524,...,0,0,0,0,0,0,0,0,0,0
2,10X_P4_0_AAACCTGCAAATCCGT-1,22182,3217,10X_P4_0,3-M-8,Tongue,NaN,M,0.195834,0.000451,...,0,0,0,0,0,0,0,0,0,0
3,10X_P4_0_AAACCTGGTAATCGTC-1,16840,3108,10X_P4_0,3-M-8,Tongue,NaN,M,0.403563,0.000178,...,0,0,0,0,0,0,0,0,0,0
4,10X_P4_0_AAACCTGGTCCAACTA-1,19531,3713,10X_P4_0,3-M-8,Tongue,NaN,M,0.321899,0.000410,...,0,0,0,0,0,0,0,0,0,0

In [18]:
'''
Filter cells, keep only ones with number of genes per cell greater than 500
and number of UMIs per cell greather than 1000
'''
df_merge_filter = merge_df[(merge_df['nFeature_RNA'] > 500) & (merge_df['nCount_RNA'] > 1000)]

In [20]:
df_merge_filter.info()

<class 'pandas.core.frame.DataFrame'>
Index: 55656 entries, 0 to 2990802
Columns: 23443 entries, cell_id to 23432
dtypes: Sparse[int64, 0](23433), float64(2), int64(2), object(6)
memory usage: 1.2+ GB

In [21]:
df_merge_filter

,cell_id,nCount_RNA,nFeature_RNA,channel,mouse.id,tissue,subtissue,mouse.sex,percent.ribo,percent.Rn45s,...,23423,23424,23425,23426,23427,23428,23429,23430,23431,23432
0,10X_P4_0_AAACCTGAGATTACCC-1,9848,2857,10X_P4_0,3-M-8,Tongue,NaN,M,0.248071,0.000711,...,0,0,0,0,0,0,0,0,0,0
1,10X_P4_0_AAACCTGAGTGCCAGA-1,17175,2933,10X_P4_0,3-M-8,Tongue,NaN,M,0.395691,0.000524,...,0,0,0,0,0,0,0,0,0,0
2,10X_P4_0_AAACCTGCAAATCCGT-1,22182,3217,10X_P4_0,3-M-8,Tongue,NaN,M,0.195834,0.000451,...,0,0,0,0,0,0,0,0,0,0
3,10X_P4_0_AAACCTGGTAATCGTC-1,16840,3108,10X_P4_0,3-M-8,Tongue,NaN,M,0.403563,0.000178,...,0,0,0,0,0,0,0,0,0,0
4,10X_P4_0_AAACCTGGTCCAACTA-1,19531,3713,10X_P4_0,3-M-8,Tongue,NaN,M,0.321899,0.000410,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2990405,10X_P8_15_TTTGTCAGTTGTCGCG-1,6507,2256,10X_P8_15,3-M-7/8,Trachea,NaN,M,0.254495,0.001229,...,0,0,0,0,0,0,0,0,0,0
2990469,10X_P8_15_TTTGTCATCACGATGT-1,1672,772,10X_P8_15,3-M-7/8,Trachea,NaN,M,0.279306,0.000000,...,0,0,0,0,0,0,0,0,0,0
2990675,10X_P8_15_TTTGTCATCGGCTTGG-1,2589,1302,10X_P8_15,3-M-7/8,Trachea,NaN,M,0.211278,0.001159,...,0,0,0,0,0,0,0,0,0,0
2990781,10X_P8_15_TTTGTCATCTTACCGC-1,2373,973,10X_P8_15,3-M-7/8,Trachea,NaN,M,0.222925,0.000843,...,0,0,0,0,0,0,0,0,0,0
2990802,10X_P8_15_TTTGTCATCTTGTTTG-1,5903,1800,10X_P8_15,3-M-7/8,Trachea,NaN,M,0.154159,0.000508,...,0,0,0,0,0,0,0,0,0,0

In [22]:
# Merge metadata + gene counts with annotation data
df_merge_ann = df_filter_ann.merge(df_merge_filter, left_on='cell_id', right_on='cell_id', how='right')

In [23]:
df_merge_ann.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55656 entries, 0 to 55655
Columns: 23456 entries, cell_id to 23432
dtypes: Sparse[int64, 0](23433), float64(4), int64(4), object(15)
memory usage: 1.2+ GB

In [24]:
df_merge_ann.columns[0:30]

Index([               'cell_id',           'nCount_RNA_x',
               'nFeature_RNA_x',              'channel_x',
                   'mouse.id_x',               'tissue_x',
                  'subtissue_x',            'mouse.sex_x',
               'percent.ribo_x',        'percent.Rn45s_x',
                         'cell',    'cell_ontology_class',
       'cell_ontology_term_iri',       'cell_ontology_id',
                 'nCount_RNA_y',         'nFeature_RNA_y',
                    'channel_y',             'mouse.id_y',
                     'tissue_y',            'subtissue_y',
                  'mouse.sex_y',         'percent.ribo_y',
              'percent.Rn45s_y',                        0,
                              1,                        2,
                              3,                        4,
                              5,                        6],
      dtype='object')

In [25]:
df_merge_ann[['nCount_RNA_x', 'nFeature_RNA_x', 'channel_x', 'mouse.id_x', 'tissue_x', 'subtissue_x', 'mouse.sex_x', 'percent.ribo_x', 'percent.Rn45s_x',
                         'cell', 'cell_ontology_class', 'cell_ontology_term_iri', 'cell_ontology_id']]

,nCount_RNA_x,nFeature_RNA_x,channel_x,mouse.id_x,tissue_x,subtissue_x,mouse.sex_x,percent.ribo_x,percent.Rn45s_x,cell,cell_ontology_class,cell_ontology_term_iri,cell_ontology_id
0,9848,2857,10X_P4_0,3-M-8,Tongue,NaN,M,0.248071,0.000711,10X_P4_0_AAACCTGAGATTACCC,basal cell of epidermis,http://purl.obolibrary.org/obo/CL_0002187,CL:0002187
1,17175,2933,10X_P4_0,3-M-8,Tongue,NaN,M,0.395691,0.000524,10X_P4_0_AAACCTGAGTGCCAGA,keratinocyte,http://purl.obolibrary.org/obo/CL_0000312,CL:0000312
2,22182,3217,10X_P4_0,3-M-8,Tongue,NaN,M,0.195834,0.000451,10X_P4_0_AAACCTGCAAATCCGT,keratinocyte,http://purl.obolibrary.org/obo/CL_0000312,CL:0000312
3,16840,3108,10X_P4_0,3-M-8,Tongue,NaN,M,0.403563,0.000178,10X_P4_0_AAACCTGGTAATCGTC,basal cell of epidermis,http://purl.obolibrary.org/obo/CL_0002187,CL:0002187
4,19531,3713,10X_P4_0,3-M-8,Tongue,NaN,M,0.321899,0.000410,10X_P4_0_AAACCTGGTCCAACTA,basal cell of epidermis,http://purl.obolibrary.org/obo/CL_0002187,CL:0002187
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55651,6507,2256,10X_P8_15,3-M-7/8,Trachea,NaN,M,0.254495,0.001229,10X_P8_15_TTTGTCAGTTGTCGCG,endothelial cell,http://purl.obolibrary.org/obo/CL_0000115,CL:0000115
55652,1672,772,10X_P8_15,3-M-7/8,Trachea,NaN,M,0.279306,0.000000,10X_P8_15_TTTGTCATCACGATGT,leukocyte,http://purl.obolibrary.org/obo/CL_0000738,CL:0000738
55653,2589,1302,10X_P8_15,3-M-7/8,Trachea,NaN,M,0.211278,0.001159,10X_P8_15_TTTGTCATCGGCTTGG,endothelial cell,http://purl.obolibrary.org/obo/CL_0000115,CL:0000115
55654,2373,973,10X_P8_15,3-M-7/8,Trachea,NaN,M,0.222925,0.000843,10X_P8_15_TTTGTCATCTTACCGC,stromal cell,http://purl.obolibrary.org/obo/CL_0000499,CL:0000499
55655,5903,1800,10X_P8_15,3-M-7/8,Trachea,NaN,M,0.154159,0.000508,10X_P8_15_TTTGTCATCTTGTTTG,stromal cell,http://purl.obolibrary.org/obo/CL_0000499,CL:0000499

In [27]:
# Drop redundant columns
df_merge_ann.drop(columns=['nCount_RNA_y', 'nFeature_RNA_y', 'channel_y', 'mouse.id_y', 'tissue_y', 'subtissue_y', 'mouse.sex_y', 'percent.ribo_y', 'percent.Rn45s_y'], inplace=True)

In [28]:
df_merge_ann.columns[0:30]

Index([               'cell_id',           'nCount_RNA_x',
               'nFeature_RNA_x',              'channel_x',
                   'mouse.id_x',               'tissue_x',
                  'subtissue_x',            'mouse.sex_x',
               'percent.ribo_x',        'percent.Rn45s_x',
                         'cell',    'cell_ontology_class',
       'cell_ontology_term_iri',       'cell_ontology_id',
                              0,                        1,
                              2,                        3,
                              4,                        5,
                              6,                        7,
                              8,                        9,
                             10,                       11,
                             12,                       13,
                             14,                       15],
      dtype='object')

In [29]:
# Rename columns
df_merge_ann.rename(columns={'nCount_RNA_x':'nCount_RNA', 'nFeature_RNA_x':'nFeature_RNA', 'channel_x':'channel',
                   'mouse.id_x':'mouse.id', 'tissue_x':'tissue', 'subtissue_x':'subtissue', 'mouse.sex_x':'mouse.sex',
               'percent.ribo_x':'percent.ribo', 'percent.Rn45s_x':'percent.Rn45s'}, inplace=True)

In [30]:
df_merge_ann.columns[0:30]

Index([               'cell_id',             'nCount_RNA',
                 'nFeature_RNA',                'channel',
                     'mouse.id',                 'tissue',
                    'subtissue',              'mouse.sex',
                 'percent.ribo',          'percent.Rn45s',
                         'cell',    'cell_ontology_class',
       'cell_ontology_term_iri',       'cell_ontology_id',
                              0,                        1,
                              2,                        3,
                              4,                        5,
                              6,                        7,
                              8,                        9,
                             10,                       11,
                             12,                       13,
                             14,                       15],
      dtype='object')

In [31]:
df_merge_ann.head()

,cell_id,nCount_RNA,nFeature_RNA,channel,mouse.id,tissue,subtissue,mouse.sex,percent.ribo,percent.Rn45s,...,23423,23424,23425,23426,23427,23428,23429,23430,23431,23432
0,10X_P4_0_AAACCTGAGATTACCC-1,9848,2857,10X_P4_0,3-M-8,Tongue,NaN,M,0.248071,0.000711,...,0,0,0,0,0,0,0,0,0,0
1,10X_P4_0_AAACCTGAGTGCCAGA-1,17175,2933,10X_P4_0,3-M-8,Tongue,NaN,M,0.395691,0.000524,...,0,0,0,0,0,0,0,0,0,0
2,10X_P4_0_AAACCTGCAAATCCGT-1,22182,3217,10X_P4_0,3-M-8,Tongue,NaN,M,0.195834,0.000451,...,0,0,0,0,0,0,0,0,0,0
3,10X_P4_0_AAACCTGGTAATCGTC-1,16840,3108,10X_P4_0,3-M-8,Tongue,NaN,M,0.403563,0.000178,...,0,0,0,0,0,0,0,0,0,0
4,10X_P4_0_AAACCTGGTCCAACTA-1,19531,3713,10X_P4_0,3-M-8,Tongue,NaN,M,0.321899,0.000410,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# Save files
df_merge_ann.to_csv("ann_tissues_filtered.csv", index=False)
df_merge_filter.to_csv("all_tissue_droplet_filter_raw.csv", sep="#", index=False)

In [32]:
# Read gene names
genes = pd.read_csv("genes.tsv", sep="\t", header=None)

In [33]:
genes[0]

0                     Xkr4
1                      Rp1
2                    Sox17
3                   Mrpl15
4                   Lypla1
               ...
23428           ERCC-00171
23429        Gfp_transgene
23430        Cre_transgene
23431      Tdtom_transgene
23432    zsGreen_transgene
Name: 0, Length: 23433, dtype: object

In [40]:
metadata_cols = ['cell_id', 'nCount_RNA', 'nFeature_RNA', 'channel', 'mouse.id', 'tissue', 'subtissue', 'mouse.sex',
                 'percent.ribo', 'percent.Rn45s', 'cell', 'cell_ontology_class', 'cell_ontology_term_iri', 'cell_ontology_id']

In [35]:
gene_cols = [g for g in df_merge_ann.columns if g not in metadata_cols]

In [43]:
# Rename number columns with actual gene names
df_merge_ann.rename(columns=dict(zip(gene_cols, genes[0])), inplace=True)
df_merge_ann.head()

,cell_id,nCount_RNA,nFeature_RNA,channel,mouse.id,tissue,subtissue,mouse.sex,percent.ribo,percent.Rn45s,...,ERCC-00163,ERCC-00164,ERCC-00165,ERCC-00168,ERCC-00170,ERCC-00171,Gfp_transgene,Cre_transgene,Tdtom_transgene,zsGreen_transgene
0,10X_P4_0_AAACCTGAGATTACCC-1,9848,2857,10X_P4_0,3-M-8,Tongue,NaN,M,0.248071,0.000711,...,0,0,0,0,0,0,0,0,0,0
1,10X_P4_0_AAACCTGAGTGCCAGA-1,17175,2933,10X_P4_0,3-M-8,Tongue,NaN,M,0.395691,0.000524,...,0,0,0,0,0,0,0,0,0,0
2,10X_P4_0_AAACCTGCAAATCCGT-1,22182,3217,10X_P4_0,3-M-8,Tongue,NaN,M,0.195834,0.000451,...,0,0,0,0,0,0,0,0,0,0
3,10X_P4_0_AAACCTGGTAATCGTC-1,16840,3108,10X_P4_0,3-M-8,Tongue,NaN,M,0.403563,0.000178,...,0,0,0,0,0,0,0,0,0,0
4,10X_P4_0_AAACCTGGTCCAACTA-1,19531,3713,10X_P4_0,3-M-8,Tongue,NaN,M,0.321899,0.000410,...,0,0,0,0,0,0,0,0,0,0

In [44]:
gene_cols = [g for g in df_merge_ann.columns if g not in metadata_cols]

In [46]:
# Create anndata
all_ann = ad.AnnData(X = df_merge_ann[gene_cols], obs = df_merge_ann[metadata_cols])

/storagenfs/m.melerocavallo/CHL/venvchl/lib/python3.8/site-packages/anndata/_core/anndata.py:117: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

In [47]:
all_ann

AnnData object with n_obs × n_vars = 55656 × 23433
    obs: 'cell_id', 'nCount_RNA', 'nFeature_RNA', 'channel', 'mouse.id', 'tissue', 'subtissue', 'mouse.sex', 'percent.ribo', 'percent.Rn45s', 'cell', 'cell_ontology_class', 'cell_ontology_term_iri', 'cell_ontology_id'

In [51]:
all_ann.write('./all_tissue.h5ad')

## Create anndata (Single tissue - Trachea)

In [5]:
all_ann = ad.read('./all_tissue.h5ad')

In [6]:
all_ann

AnnData object with n_obs × n_vars = 55656 × 23433
    obs: 'cell_id', 'nCount_RNA', 'nFeature_RNA', 'channel', 'mouse.id', 'tissue', 'subtissue', 'mouse.sex', 'percent.ribo', 'percent.Rn45s', 'cell', 'cell_ontology_class', 'cell_ontology_term_iri', 'cell_ontology_id'

In [7]:
trachea_exp = all_ann[ all_ann.obs['channel'] == "10X_P8_14" ]

In [8]:
trachea_exp.obs

,cell_id,nCount_RNA,nFeature_RNA,channel,mouse.id,tissue,subtissue,mouse.sex,percent.ribo,percent.Rn45s,cell,cell_ontology_class,cell_ontology_term_iri,cell_ontology_id
44387,10X_P8_14_AAACCTGAGACGCTTT-1,1728,799,10X_P8_14,3-M-5/6,Trachea,NaN,M,0.236111,0.000000,10X_P8_14_AAACCTGAGACGCTTT,stromal cell,http://purl.obolibrary.org/obo/CL_0000499,CL:0000499
44388,10X_P8_14_AAACCTGAGGAGTAGA-1,3488,1541,10X_P8_14,3-M-5/6,Trachea,NaN,M,0.177752,0.000287,10X_P8_14_AAACCTGAGGAGTAGA,stromal cell,http://purl.obolibrary.org/obo/CL_0000499,CL:0000499
44389,10X_P8_14_AAACCTGCATGGAATA-1,1943,937,10X_P8_14,3-M-5/6,Trachea,NaN,M,0.153371,0.001029,10X_P8_14_AAACCTGCATGGAATA,stromal cell,http://purl.obolibrary.org/obo/CL_0000499,CL:0000499
44390,10X_P8_14_AAACCTGGTACCCAAT-1,2085,980,10X_P8_14,3-M-5/6,Trachea,NaN,M,0.208633,0.001439,10X_P8_14_AAACCTGGTACCCAAT,stromal cell,http://purl.obolibrary.org/obo/CL_0000499,CL:0000499
44391,10X_P8_14_AAACCTGGTCGTTGTA-1,3576,1583,10X_P8_14,3-M-5/6,Trachea,NaN,M,0.180089,0.000280,10X_P8_14_AAACCTGGTCGTTGTA,stromal cell,http://purl.obolibrary.org/obo/CL_0000499,CL:0000499
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51008,10X_P8_14_TTTGTCACACTATCTT-1,3747,1361,10X_P8_14,3-M-5/6,Trachea,NaN,M,0.376301,0.000267,10X_P8_14_TTTGTCACACTATCTT,epithelial cell,http://purl.obolibrary.org/obo/CL_0000066,CL:0000066
51009,10X_P8_14_TTTGTCACAGAAGCAC-1,2721,1216,10X_P8_14,3-M-5/6,Trachea,NaN,M,0.181918,0.000000,10X_P8_14_TTTGTCACAGAAGCAC,stromal cell,http://purl.obolibrary.org/obo/CL_0000499,CL:0000499
51010,10X_P8_14_TTTGTCAGTAAATGTG-1,8515,2346,10X_P8_14,3-M-5/6,Trachea,NaN,M,0.122959,0.000235,10X_P8_14_TTTGTCAGTAAATGTG,stromal cell,http://purl.obolibrary.org/obo/CL_0000499,CL:0000499
51011,10X_P8_14_TTTGTCATCGGCGCAT-1,3411,1311,10X_P8_14,3-M-5/6,Trachea,NaN,M,0.172677,0.000000,10X_P8_14_TTTGTCATCGGCGCAT,stromal cell,http://purl.obolibrary.org/obo/CL_0000499,CL:0000499
51012,10X_P8_14_TTTGTCATCTAACTGG-1,9899,2502,10X_P8_14,3-M-5/6,Trachea,NaN,M,0.234165,0.000303,10X_P8_14_TTTGTCATCTAACTGG,stromal cell,http://purl.obolibrary.org/obo/CL_0000499,CL:0000499

In [9]:
trachea_exp.write('./trachea.h5ad')